apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: coworkhub
type: Opaque
data:
  DB_PASSWORD: ""
  DJANGO_SECRET_KEY: ""
  POSTGRES_PASSWORD: ""
# To encode: echo -n "yourvalue" | base64
